@{
    ViewBag.Title = "Home Page";
}
    
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Reportes control de inventario</h2>
        <h3 class="text-center">(productos perecederos)</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <form>
                <div class="form-group">
                    <label class=" form-control text-center">Usuario:</label>
                    <input type="text" class="form-control center-block" id="user" aria-describedby="emailHelp" placeholder="Digite su usuario">
                </div>
                <br/>
                <div class="form-group">
                    <label class="form-control text-center">Contraseña</label>
                    <input type="password" class="form-control center-block" id="exampleInputPassword1" placeholder="Password">
                </div>
                
                <button type="submit" class="btn btn-primary center-block">Iniciar Sesion</button>
                <br/>
            </form>
        </div>
            
        </div>
        <div class="col-md-4">

        </div>
   </div>